<table class="table table-striped" id="table">
      <thead>
        <tr>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody>
        {% for log in timeLogs %}
        <tr>
          <td>{{ log.start_time }}</td>
          <td>{{ log.end_time  }}</td>
            {% if log.end_time %}
                <td>{{ log.end_time - log.start_time  }}</td>

             {% else %}
                <td/>
            {% endif %}
          <td><button id={{ log.id }} type="button" id="delete-link" class="btn btn-danger delete-link" onclick="deleteLog.call(this)">Delete</button></td>

        </tr>
        {% endfor %}

      </tbody>
    </table>